{{ define "main" }}
{{ $uniqueId := printf "%d" (now.UnixNano) }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form-{{ $uniqueId }}" action="https://turnstile-form-validation.disruptivebros.workers.dev/" method="post">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="first-name" id="first-name-{{ $uniqueId }}" placeholder="{{ .Site.Params.contactForm.placeholder_first_name }}" required>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last-name" id="last-name-{{ $uniqueId }}" placeholder="{{ .Site.Params.contactForm.placeholder_last_name }}" required>
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email-{{ $uniqueId }}" placeholder="{{ .Site.Params.contactForm.placeholder_email }}" required>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="company" id="company-{{ $uniqueId }}" placeholder="{{ .Site.Params.contactForm.placeholder_company }}">
              </div>
              <div class="col-12">
                <textarea class="form-control" id="message-{{ $uniqueId }}" name="message" rows="6" placeholder="{{ .Site.Params.contactForm.placeholder_message }}"></textarea>
              </div>
              <div class="col-12 d-flex flex-column flex-lg-row justify-content-between align-items-center mt-3">
                <div id="turnstile-widget-placeholder-{{ $uniqueId }}" style="display: none;" class="mb-2 mb-lg-0 align-items-center d-flex"></div>
                <!-- Button type 'button' explicitly triggers JavaScript to handle form submission -->
                <button type="button" class="btn btn-primary" id="contact-form-button-{{ $uniqueId }}" onclick="submitFormWithVerification('{{ $uniqueId }}')">
                  {{ .Site.Params.contactForm.send_message }}
                </button>
                <p id="contact-form-status-{{ $uniqueId }}"></p>
              </div>
              <input type="hidden" name="cf-turnstile-response" id="cf-turnstile-response-{{ $uniqueId }}" value="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "formAuthentificator.html" . }}

{{ end }}
